.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
     border: 1px solid black;
}
.nav-items > ul{
    display: flex;
    list-style: none;
    
}
.nav-items > ul > li{
    margin: 0 10px;
}

.logo{
  width: 70px;
    
}

.body{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
   
}

.res-card{
    width:200px;
    height:auto;
    margin: 20px 5px;
    border: 1px solid rgb(107, 33, 33);

}

.res-images{
   height:200px;

    width:100%;

}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;
    
}

.search{

   
    margin: 10px;
}

.filter-btn{
 margin: 10px;
 cursor: pointer;

}